<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		<!-- <property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver 
			</property> -->

		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<!-- <property name="hibernate.connection.url">jdbc:postgresql://localhost/jvmhubtutorial</property> 
			<property name="hibernate.connection.username">user</property> <property 
			name="hibernate.connection.password">password</property> -->

		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
			jdbc:postgresql://localhost:5432/hc
		</property>

		<property name="hibernate.default_schema">
			dbo
		</property>

		<property name="hibernate.connection.username">
			postgres
		</property>
		<property name="hibernate.connection.password">
			m12345
		</property>

		<property name="show_sql">true</property>

		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Drop and re-create all database on startup -->
		<!-- <property name="hibernate.hbm2ddl.auto">create-drop</property> -->

		<!-- List of XML mapping files -->
		<!-- <mapping resource="Employee.hbm.xml"/> -->

		<mapping class="ehc.bo.impl.User" />
		<mapping class="ehc.bo.impl.PermissionProfile" />
		<mapping class="ehc.bo.impl.Permission" />
		<mapping class="ehc.bo.impl.Party" />
		<mapping class="ehc.bo.impl.Individual" />
		<mapping class="ehc.bo.impl.WaitingIndividual" />
		<mapping class="ehc.bo.impl.Company" />
		<mapping class="ehc.bo.impl.Appointment" />
		<mapping class="ehc.bo.impl.AppointmentState" />
		<mapping class="ehc.bo.impl.Treatment" />
		<mapping class="ehc.bo.impl.TreatmentType" />
		<mapping class="ehc.bo.impl.Physician" />
		<mapping class="ehc.bo.impl.PhysicianType" />
		<mapping class="ehc.bo.impl.Skill" />
		<mapping class="ehc.bo.impl.Room" />
		<mapping class="ehc.bo.impl.RoomType" />
		<mapping class="ehc.bo.impl.Device" />
		<mapping class="ehc.bo.impl.DeviceType" />
		<mapping class="ehc.bo.impl.Nurse" />
		<mapping class="ehc.bo.impl.NurseType" />
		<mapping class="ehc.bo.impl.ResourceType" />
		<mapping class="ehc.bo.impl.ResourceTypeWithSkills" />
		<mapping class="ehc.bo.impl.ResourceImpl" />
		<mapping class="ehc.bo.impl.ExecutorProvision" />
		<mapping class="ehc.bo.impl.Payment" />
		<!-- <mapping class="ehc.bo.impl.Device" /> -->
		<!-- <mapping class="ehc.bo.impl.UserRight" /> <mapping class="ehc.bo.impl.Person" 
			/> <mapping class="ehc.bo.impl.Appointment" /> <mapping class="ehc.bo.impl.Intervention" 
			/> -->


	</session-factory>
</hibernate-configuration>